DROP POLICY IF EXISTS \
Allow
members
and
admins
to
read
organization
members\ ON public.organization_members;
CREATE POLICY \Allow
members
to
read
organization
members\
    ON public.organization_members FOR SELECT
    USING (
        organization_id IN (SELECT organization_id FROM public.get_user_all_organizations(auth.uid()))
    );
